*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px; 
    font-size: 1.8rem;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 1.2rem;
}
.bar{
    display: none;
    margin-right: 15px;
}


@media screen and (max-width:500px){
    .bar{
        display: flex;
    }
    .list{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    .show{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10vh;
        background-color: gray;
        width: 100%;
        text-align: center;
        height: 30vh;
        gap: 3rem;
        left: 0;

    }
   
}